<th:block th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand navbar-brand-lime lime-transition" href="#">iThink MQ</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/}" aria-current="page">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/connection-profile}">Connection profiles</a>
                    </li>
                </ul>
                <div class="d-flex align-items-center">
                    <div class="input-group header-search-group me-2">
                        <input id="messageSearchInput" class="form-control" type="search"
                               placeholder="Search messages..." aria-label="Search">
                        <button id="messageSearchButton" class="btn btn-outline-secondary" type="button"
                                title="Start search" aria-label="Start search">🔍</button>
                    </div>
                    <button id="loadTestDataButton" class="btn btn-outline-secondary me-2 d-none" type="button">Load test data</button>
                    <button id="purgeMessagesButton" class="btn btn-outline-danger" type="button"
                            title="Delete all messages" aria-label="Delete all messages">Truncate database</button>
                </div>
            </div>
        </div>
    </nav>
    <script src="/js/header.js"></script>
</th:block>