<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<head><title>New connection</title></head>
<body>
<div layout:fragment="content">
    <div class="container-fluid py-3">

        <h4>New connection</h4>

        <form th:action="@{/connection-profile/add}" th:object="${connectionProfile}" method="post"
              class="row g-2 align-items-end mb-4">
            <th:block th:replace="~{connection-profile/form :: fields}"></th:block>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>

        <a class="btn btn-secondary" th:href="@{/connection-profile}">Back to list</a>

    </div>
</div>
</body>
</html>
